body {
  margin: 0;
  padding: 0;
}
.body_all {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #131519;
}
.wrp_img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 600px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.wrp_img:after {
  z-index: 0;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#131519));
  background: -webkit-linear-gradient(top, transparent 0%, #131519 100%);
  background: -o-linear-gradient(top, transparent 0%, #131519 100%);
  background: linear-gradient(to bottom, transparent 0%, #131519 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100px;
}
.img_main {
  display: block;
  background: url(../img/bg23.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: scroll;
  width: 100%;
  height: 600px;
}
header {
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin-top: 250px;
}
/*Менюшка*/
.navbare {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  width: 600px;
  height: 72px;
  border-radius: 35px;
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050;
  background-color: #131519;
}
nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
nav ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  border: 1px solid #505050;
  background-color: #23262D;
}
nav li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  /*height: 100%;*/
  list-style: none;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.link_nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  /* height: 100%;*/
  color: #B9BABE;
  text-decoration: none;
  font-size: 21px;
  border: 1px solid #505050;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  font-family: Oswald, sans-serif;
}
.link_one {
  background-color: #131519;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.link_two {
  background-color: #131519;
}
.link_three {
  background-color: #131519;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.link_nav:hover {
  color: #F6F6F6;
}
li:hover {
  width: 60%;
}
.logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Mountains;
  font-size: 35px;
  text-decoration: none;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  width: 150px;
  padding-left: 10px;
  height: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #131519;
}
.registr {
  -ms-align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 15px 38px;
  margin-right: 10px;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#1B1464), color-stop(#EA2027), color-stop(#006266), color-stop(#EA2027), to(#1B1464));
  background: -webkit-linear-gradient(left, #1B1464, #EA2027, #006266, #EA2027, #1B1464);
  background: -o-linear-gradient(left, #1B1464, #EA2027, #006266, #EA2027, #1B1464);
  background: linear-gradient(90deg, #1B1464, #EA2027, #006266, #EA2027, #1B1464);
  -webkit-background-size: 400%;
  background-size: 400%;
  -webkit-box-shadow: 0 0 15px #505050;
  box-shadow: 0 0 15px #505050;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  color: #dcdde1;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.registr:hover {
  -webkit-animation: animate 12s linear infinite;
  animation: animate 12s linear infinite;
  -webkit-box-shadow: 0 0 20px #EA2027;
  box-shadow: 0 0 20px #EA2027;
}
@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
/*Основная секция*/
main {
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  max-width: 1220px;
  border-radius: 30px;
}
aside {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 300px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 25px;
  padding-bottom: 50px;
  border: 1px solid #505050;
  background-color: #1F2228;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
aside:hover {
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050;
}
.chronicle_list {
  -ms-align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 20px 10px;
  border-radius: 30px;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.chronicle_list:hover {
  -webkit-box-shadow: 0 0 15px #505050 inset;
  box-shadow: 0 0 15px #505050 inset;
}
.chronicle_list a {
  text-align: center;
  color: #B9BABE;
  text-decoration: none;
  font-family: Oswald, sans-serif;
  font-size: 19px;
  width: 95px;
  height: 30px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #1F2228;
}
.chronicle_list a:hover {
  background-color: #131519;
  color: #F6F6F6;
  border: 1px solid #505050;
}
.rigt_chronicle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-right: 3px;
}
.left_chronicle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 3px;
}
.reit_list {
  -ms-align-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  border-radius: 30px;
  padding: 15px 10px;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.reit_list:hover {
  -webkit-box-shadow: 0 0 15px #505050 inset;
  box-shadow: 0 0 15px #505050 inset;
}
.reit_list a {
  border: 1px solid #1F2228;
  text-align: center;
  line-height: 30px;
  width: 95px;
  height: 30px;
  margin-top: 5px;
  border-radius: 10px;
  color: #B9BABE;
  text-decoration: none;
  font-family: Oswald, sans-serif;
  font-size: 16px;
}
.reit_list a:hover {
  background-color: #131519;
  color: #F6F6F6;
  border: 1px solid #505050;
}
.right_rates {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 3px;
}
.left_rates {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 3px;
}
.banner_wrp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.banner {
  width: 240px;
  height: 400px;
  background-image: url(../img/2018-11-23-u0f1bnрп.gif);
  -webkit-box-shadow: 0 0 25px #131519 inset;
  box-shadow: 0 0 25px #131519 inset;
}
/*Списки серверов*/
.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.server_list_soon {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 450px;
  margin-right: 6px;
  padding-bottom: 50px;
  border-radius: 25px;
  border: 1px solid #505050;
  background-color: #1F2228;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.server_list_soon:hover {
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050;
}
.server_lest_already {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 450px;
  margin-left: 6px;
  padding-bottom: 50px;
  border-radius: 25px;
  border: 1px solid #505050;
  background-color: #1F2228;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.server_lest_already:hover {
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050;
}
.box__select {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #1F2228;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.box__select h1,
h2,
h3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 8px;
  height: 60px;
  margin: 0;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #B9BABE;
}
footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 90%;
  max-width: 1230px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.self {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border: 1px solid #505050;
  border-radius: 30px;
  width: 850px;
  padding: 0 0 0 15px;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.self:hover {
  -webkit-box-shadow: 0 0 15px #505050;
  box-shadow: 0 0 15px #505050;
}
.self h1 {
  font-family: Oswald, sans-serif;
  font-weight: normal;
  color: #B9BABE;
  font-size: 22px;
  margin: 0;
  margin-top: 10px;
}
.self p {
  font-family: Oswald, sans-serif;
  font-weight: normal;
  color: #B9BABE;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}
.self a {
  font-family: Oswald, sans-serif;
  font-weight: normal;
  color: #B9BABE;
}
.self a:hover {
  color: #F1C40F;
}
.copy {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-align-items: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 20px  5% 20px auto;
  border: 1px solid #505050;
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #23262D;
}
.copy a {
  font-family: Oswald, sans-serif;
  font-weight: normal;
  color: #B9BABE;
  font-size: 16px;
}
.copy a:hover {
  color: #F1C40F;
}
.copy p {
  font-family: Oswald, sans-serif;
  font-weight: normal;
  color: #B9BABE;
  font-size: 16px;
}
